@font-face {
  font-family: 'EMprint';
  src: url('fonts/EMprint-Semibold.woff2') format('woff2'),
      url('fonts/EMprint-Semibold.ttf') format('truetype'),
      url('fonts/EMprint-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EMprint';
  src: url('fonts/EMprint-Regular.woff2') format('woff2'),
      url('fonts/EMprint-Regular.ttf') format('truetype'),
      url('fonts/EMprint-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EMprint';
  src: url('fonts/EMprint-Bold.woff2') format('woff2'),
      url('fonts/EMprint-Bold.ttf') format('truetype'),
      url('fonts/EMprint-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@keyframes move {
	0%, 100% { top: 0% }
	50% { top: calc(100% - 10px) }
}

.button-main {
  z-index: 2;
  background-color: #FF0000;
  color: white;
  padding: .7rem;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.button-back {
  z-index: 2;
  background-color: #FF0000;
  color: white;
  padding-left: 1.8rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: .3rem;
  font-size: 3rem;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
}

.button-backTrans {
  z-index: 2;
  background-color: transparent;
  font-size: 4rem;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 6%; 
  top: 1%; 
  transform: translate(-6%,-1%);
}

.containerMain {
    z-index: 1;
    background-color: #114A9B;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: .7rem;
}

.containerForm{
  z-index: 1;
  background-color: #114A9B;
  color: white;
  border: none;
}
  
.containerTrans {
    z-index: 1;
    background-color: #00000000;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: .7rem;
    border: none;
    border-radius: .7rem;
}

.custom-input {
    background-color: transparent;
    border: .1rem solid rgb(237, 237, 237);
    border-radius: .7rem;
    color: white;
    padding: .6rem;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
}

.custom-input::placeholder {
  color: #bcbcbc;
}

.container {
  position: relative;
}

.text-overlap {
  background-color: #114A9B;
  padding-left: .5rem;
  padding-right: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: .8rem;
  color: #F5F5F7
}
  
p,
form,
.navbar-brand,
.navbar-nav .nav-link,
.card-title,
.card-text,
.list-group-item {
    font-family: 'EMprint'; font-weight: normal; font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'EMprint'; font-weight: 600; font-style: normal;
}