@font-face {
  font-family: 'EMprint';
  src: url('css/fonts/EMprint-Regular.eot');
  src: url('css/fonts/EMprint-Regular.eot?#iefix') format('embedded-opentype'),
      url('css/fonts/EMprint-Regular.woff2') format('woff2'),
      url('css/fonts/EMprint-Regular.woff') format('woff'),
      url('css/fonts/EMprint-Regular.ttf') format('truetype'),
      url('css/fonts/EMprint-Regular.svg#EMprint-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p,h1,h2,h3,h4,h5,h6,form {
  font: inherit;
  }

.button-main {
  z-index: 2;
  background-color: #FF0000;
  color: white;
  padding: .7rem;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
}

.button-back {
  z-index: 2;
  background-color: #FF0000;
  color: white;
  padding-left: 1.8rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: .3rem;
  font-size: 3rem;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
}
  
.containerMain {
    z-index: 1;
    background-color: #114A9B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.containerForm{
  z-index: 1;
  background-color: #114A9B;
  color: white;
  border: none;
}
  
.containerTrans {
    z-index: 1;
    background-color: #00000000;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: .7rem;
    border: none;
    border-radius: .7rem;
}

.custom-input {
    background-color: transparent;
    border: .1rem solid rgb(237, 237, 237);
    border-radius: .7rem;
    color: white;
    padding: .6rem;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
}

.custom-input::placeholder {
  color: #bcbcbc; /* Set the desired color for the placeholder text */
}

.container {
  position: relative;
}

.text-overlap {
  background-color: #114A9B;
  padding-left: .5rem;
  padding-right: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: .8rem;
  color: #F5F5F7
}
  